<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>10 setembro 2009</ion-card-subtitle>
      <ion-card-title>Diário de Um Vampiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/mtjrOwIQKvmh2FChp9ZUtsKAj3C.jpg">
       <p>Um triângulo amoroso entre dois vampiros e uma bela jovem, que conquistou uma enorme legião de leitores. Elena: a garota que pode conquistar que quiser. Stefan:…</p>
       <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>29 de agosto de 2015</ion-card-subtitle>
      <ion-card-title>Prison Break</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/5E1BhkCgjLBlqx557Z5yzcN0i88.jpg">
       <p>Quando o seu irmão é condenado por um assassinato que não cometeu, Michael Scofield decide tirá-lo da prisão. Mas não pela porta de frente.</p>
       <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>