<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <h1>Velozes & Furiosos</h1>
      <h2>22 de junho de 2001</h2>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/7FUqXrudOZ1jbvnVxPLoph0H8yF.jpg">
      <p>Um jovem polícia infiltra-se no submundo do crime e do “Street Racing” na cidade de Los Angeles, para identificar e prender o autor de vários roubos e membro influente…</p>
      <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-col>

    <ion-col size="6">
      <h1>+ Velozes + Furiosos</h1>
      <h2>5 de junho de 2003</h2>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/tMUnCAgfARTdAu8ylPw4Wjh3e5N.jpg">
      <p>Brian O’Conner perdeu o distintivo ao deixar o seu amigo Dom Toretto, líder do submundo das corridas, escapar às malhas da lei. De regresso a Miami na companhia…</p>
      <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-col>

    <ion-col size="6">
      <h1>Velozes & Furiosos: Desafio em Tóquio</h1>
      <h2>3 de junho de 2006</h2>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/sHojCCXnSW4Kn294E0BYgq74D5o.jpg">
      <p>Para evitar uma pena de cadeia, Shaun Boswell, muda-se para Tóquio para viver com um tio. Num dos subúrbios da cidade, deixa-se arrastar para o submundo do "Street…</p>
      <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-col>

    <ion-col size="6">
      <h1>Velozes & Furiosos 4</h1>
      <h2>22 de junho de 2001</h2>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/zvjQPVttJWaCSbzMijyc2x2MLr4.jpg">
      <p>Brian O'Conner, agora a trabalhar para o FBI em Los Angeles, juntamente com Dominic Toretto trabalham num caso para derrubar um importador de heroína, infiltrando…</p>
      <ion-button expand="block" fill="outline">Mais informações</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
